
form {
    background:#E8E8E8;
    width:1000px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right:50px;
    padding-top:10px;
}
.text{
    margin:auto;
}
p{
    margin: auto;
}
