
form {
    background:#E8E8E8;
    width:600px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 85px;
    padding-left: 40px;
    padding-right:50px;
}
.text{
    margin:auto;
}
p{
    margin: auto;
}
#button {
   

}