<!-- your html code here -->
<link rel="stylesheet" href="styles1.css" type="text/css" />

<h2><b>Contact Form</b></h2>
<div class= "text">
    <p><font size="4">Donec ullamcorper nulla non auctor fringilla. Vesstibulum id ligula porta felis euismod semper. Praesent commodo cursus
magna,</p><p>vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</font></p>

</div>
<div class="container">
    <div id="title-and-text">
        
    </div>
    <div class="form">
        <div>
            <form>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" cols="100" id="email"></input>
                    <div class="form-group">
                      <label for="comment">Your Message</label>
                      <textarea class="form-control" rows="5" cols="50" id="comment"></textarea>
                      <button type="button" class="btn">Submit</button>
                    </div>
              </div>
                
                
                
            </form>
        </div>
        <div>
            
        </div>
    </div>
</div>

copyright © your website 2014

