<div class="jumbotron jumbotron-fluid" style="background-image: url(https://www.planwallpaper.com/static/images/background-full-11.jpg);">
  <div class="container-fluid text-center">
    <h1 class="display-4" style="background-color:white; opacity:0.8; font-size:140px;"><strong>One Page Wonder</strong></h1>
    <p class="lead " style="background-color:white; opacity:0.8; font-size:50px;"><strong>Will Knock Your Socks Off</strong></p>
  </div>
</div>













<!--<div class="container-fluid" style="background-image: url(https://www.planwallpaper.com/static/images/background-full-11.jpg);">-->
<!--	<div class="row" style="margin-right: 10px;margin-left: 10px; padding-top: 10px;">-->
<!--		<div class="col">-->
<!--			<div class="jumbotron" style="text-align: center;background-color: white;opacity: 0.5; font-size:60px;">-->
<!--			  <h1 class="display-4"><strong>One Page Woder</strong></h1>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="row" style="margin-right: 10px;margin-left: 10px;padding-bottom: 40px;margin-top: 10px;">-->
<!--		<div class="col" style="text-align: center;background-color: white;opacity: 0.5;font-size: 30px;">-->
<!--			<h1 class="display-5">Will Knock Your Socks Off</h1>		-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
