<!-- your html code here -->
<div class="row">
    <div class="col-2"></div>
    <div class="col-6">
        <h2>This First Heading Will Catch Your Eye</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla fermentum dignissim ultricies. Duis ex est, faucibus luctus mauris quis, 
        pharetra vestibulum est. Cras laoreet mollis neque in pellentesque. 
        Curabitur hendrerit maximus lacus sit amet fringilla. Aenean a vulputate enim.</p>
    </div>
    <div class="col-2">
        <img src="./assets/img/1.jpg" class="rounded-circle img-fluid"/>
    </div>
    <div class="col-2"></div>
</div>