<div class="jumbotron jumbotron-fluid mb-0">
      <div class="container ml-0">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">4Geeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Twitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Starhub</a>
          </li>
        </ul>
        <p class="text-muted">
          Designed and built with all the love in the Miami by
          <a class="text-dark" href="#">@nacho</a> and
          <a class="text-dark" href="#">@Guensie</a>. Maintained by the
          <a class="text-dark" href="#">core team</a> with the help of our
          <a class="text-dark" href="#">contributors</a>.<br />
          Current cohort Version <a class="text-dark" href="#">best.1</a> in
          progress...
        </p>
      </div>
    </div>