<!-- your html code here -->

<div>
    <div>
        <h1>Portfolio</h1>
    
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
        felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
        Fusce dapibus, tellus ac cursus commodo</p>
    </div>
        <div class="container-1">
            <div class="box-1">
                <img src="https://via.placeholder.com/200"></img>
                <h2>Project Name</h2>  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismo odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="box-2">
                <img src="https://via.placeholder.com/200"> </img>
                <h2>Project Name</h2>  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismo odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="box-3">
                <img src="https://via.placeholder.com/200"> </img>
                <h2>Project Name</h2>  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismo odio, gravida pellentesque urna varius vitae.</p>
            </div>
            
        </div>
</div>