<!-- your html code here -->
<div>
    <div>
        <h1>Portfolio</h1>
    
        <p>Here is our Portfolio. You will find all the projects we have completed here.
        We hope you enjoy our portfolio</p>
    </div>
        <div class="container-1">
            <div class="box-1">
                <img src="https://via.placeholder.com/700/400"></img>
                <h2>Project Name</h2>  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismo odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="box-2">
                <img src=""> </img>
                <h2>Project Name</h2>  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismo odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="box-3">
                <img src=""> </img>
                <h2>Project Name</h2>  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismo odio, gravida pellentesque urna varius vitae.</p>
            </div>
            
        </div>
</div>