<div class="container bg-white">
<div class="bg-white">
    <h1>Portfolio</h1>
    <p>Description of the portfolio, projects, images. :)</p>
</div class="container">
<div class="row">
  <div class="p-2 bg-white col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.pexels.com/photos/707194/pexels-photo-707194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
       </div>
  </div>
  <div class="p-2 bg-white col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.pexels.com/photos/1662570/pexels-photo-1662570.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
  <div class="p-2 bg-white col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.pexels.com/photos/1687112/pexels-photo-1687112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
</div>
</div>