<!-- your html code here -->

<div class="row">
    <div class="col">
        <img src="../assets/img/2.jpg" class="rounded-circle" />
    </div>
    <div class="col">
        <h2>The second heading is pretty cool</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Suspendisse vestibulum consequat nibh vitae mollis. 
        Aenean volutpat finibus sapien sed tempus. In hac habitasse 
        platea dictumst. Sed maximus neque vel leo molestie iaculis. 
        Fusce vestibulum lacus non cursus auctor. In hac habitasse
        platea dictumst. Vestibulum in nulla sed arcu vehicula interdum. 
        Cras ac purus orci.</p>
    </div>
</div>

