<!-- your html code here -->
<div class="row">
    <div class="col-1"></div>
    <div class="col-6">
        <h2>This First Heading Will Catch Your Eye</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla fermentum dignissim ultricies. Duis ex est, faucibus luctus mauris quis, 
        pharetra vestibulum est. Cras laoreet mollis neque in pellentesque. 
        Curabitur hendrerit maximus lacus sit amet fringilla. Aenean a vulputate enim.</p>
    </div>
    <div class="col-4">
        <img src="./assets/img/1.jpg" class="rounded-circle img-fluid"/>
    </div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <img src="./assets/img/2.jpg" class="rounded-circle img-fluid" />
    </div>
    <div class="col-6">
        <h2>The second heading is pretty cool</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Suspendisse vestibulum consequat nibh vitae mollis. 
        Aenean volutpat finibus sapien sed tempus. In hac habitasse 
        platea dictumst. Sed maximus neque vel leo molestie iaculis. 
        Fusce vestibulum lacus non cursus auctor. In hac habitasse
        platea dictumst. Vestibulum in nulla sed arcu vehicula interdum. 
        Cras ac purus orci.</p>
    </div>
    <div class="col-1"></div>
</div>

